[Unit]
Description=monitoring

[Service]
WorkingDirectory={{ project_dir }}
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=default.target
